* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    font-size: 16;
    margin: 0;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Center the image on home page */
.home-page #image {
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0 auto;
}

/* Center the form on contact page */
.contact-page .form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid #080079;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h2{
    font-weight: 900;
}

/* Header - logo or title */
.header {
    padding: 30px;
    text-align: center;
    color: white;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(4, 119, 0), rgb(10, 1, 1), rgb(0, 38, 255));
    background-repeat: no-repeat;
    
}

.bigwah h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
}

/* Style nav bar as flexbox */
nav{
    display: flex;
    background-color: #080079;
    justify-content: center;
    padding: 10px;
}

/* Style navigation bar links */
nav a{
    color: white;
    padding: 25px 40px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: x-large;
}

/* Change color on hover */
nav a:hover{
    background-color: #044d0a;
    color: white;
}

/* For different screen sizes */
@media  screen and (max-width: 768px) {
    nav, main, .form-container {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 600px) {
        nav {
        font-size: 24px;
    }
}

/* NRL LADDER */
#left {
    display: flex;
    padding: 40px;
    width: 20%;
    height: auto;
    
}

/* MAIN CONTENT AREA */
#right {
    display: flex;
    justify-content: center;
    align-items: center;
    image-resolution: 100%;
    padding: 50px;
    width: 40%;
    min-height: 400px;
}


/* NRL Ladder Image placeholder*/
#nrl-ladder-imgph {
    width: auto;
    height: auto;
    position:static;
}

/* NRL Ladder Animation */
@keyframes example {
    0% {left:0px; top: 0px;}
    25%{left: 0px; top: 10px;}
    50%{left: 0px; top: 20px;}
    75%{left: 0px; top: 10px;}
   100%{left: 0px; top: 0px;}
} 


#nrl-ladder-title {
    text-align-last: center;
}


#nrl-ladder {
    max-width: 100%;
    align-items: center;
    height: auto;
    border:#080079 3px solid;
    position: relative;
    animation: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: height 4s, border-radius 4s;
    transition-timing-function: ease-in-out;
}

/* EMAIL INPUT FORM */
input{
    width: 100%;
}

label{
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
}

input[type=text], input[type=email] {
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(28, 0, 128);
}

input[type=radio] {
    width: 40px;
}

input[type=radio] + label {
    color: black;
}

textarea {
    size:100%;
    border: 1px solid rgb(19, 0, 128);
}

input[type=submit] {
    background-color: rgb(0, 9, 128);
    color: rgb(255, 255, 255);
    width: 75%;
}
/* 
#subject-label {
    background-color: rgb(255, 47, 47);
} */

.form-container {
    width: 500px; /* Smaller container */
    height: 500px; /* Adjust height as needed */
    margin: 50px auto; /* Centers horizontally */
    
    display: flex;
    justify-content: center;
    align-items: center;
/* 
    border: 2px solid #080079;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    background: #080079;
    color: white;
}