input{
    width: 100%;
}

label{
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
}

input[type=text], input[type=email] {
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(28, 0, 128);
}

input[type=radio] {
    width: 20px;
}

input[type=radio] + label {
    color: rgb(2, 0, 128);
}

textarea {
    size:40%;
    border: 2px solid rgb(19, 0, 128);
}

input[type=submit] {
    background-color: rgb(0, 9, 128);
    color: white;
    width: 75%;
}

#subject-label {
    background-color: rgb(255, 47, 47);
}